<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiaoxg.servicedemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.StartServiceActivity"
            android:label="StartService">
        </activity>
        <activity android:name=".activity.BindServiceActivity"
            android:label="BindService">
        </activity>

        <service android:name=".service.BindTypeService"/>
        <service android:name=".service.StartTypeService"/>

        <activity android:name=".activity.IntentServiceActivity"
            android:label="IntentService">
        </activity>
        <activity android:name=".activity.LifeCircleActivity"
            android:label="LifeCircle">
        </activity>
        <activity android:name=".activity.OverviewActivity"
            android:label="Overview">
        </activity>
    </application>

</manifest>